.contendorMaterias{
    margin: 10px 50px;
    width: auto;
    min-height: 100px;
    border: solid 2px black;
}

.aprobado{
    background-color: red;
}

.regular{
    background-color:blue ;
}

.noAprobado{
    background: none;
}

.cursar{
    background-color: brown;
}